<div class="container">

	<div class="row" >
		<div class="span4">
			<div id="stats_container" style="width: 400px; height: 400px;"></div>
			<div id="general_stats_container" style="width: 400px; height: 400px;"></div>
		</div>
		<div class="span8">
			<canvas id="slope" width="3000px" height="1500px"></canvas>
		</div>

	</div>
	<!--<div class="row">
		<div class="span12">
				<img id="image" width="3000px" height="5000px" src="img/lol.jpg" ></img>
		</div>
	</div>-->
</div>






