<div class="container">
	<div class="row">
	  
		<center>
			<h2>
			We find the fastest track, the alpine skier should take in order to win!
			</h2>
			<h4>
				Created as a master thesis at AGH University of Science and Technology.</br>March 2012 - September 2013.
				<img style="margin: 10px;" src="img/test/notepad.gif">
			</h4>
			<div>	
			<img src="img/test/new.gif">
			<button id="get-problem-button" class="btn btn-primary"> Show me !! </button>
			<div id="dancers">
				<img src="img/test/mchammer.gif">
				<img src="img/test/mchammer.gif">
				<img src="img/test/mchammer.gif">
			</div>
			</div>
			<div class="fb-like" data-href="http://giant-client.herokuapp.com/" data-width="450" data-show-faces="true"></div>
			<div id="success" class="alert alert-success" style="display: none;" >
				<a class="close">×</a>
				<strong>Success</strong>Thanks - we got result of your computation. All world skiers will love you! Note that every time you or your frineds click the button and start the computations, this first world problem is closer to be solved! So share!
		
			  </div>
		</center>
	</div>
	<div class="row" id="computation" >
		<h4>
			What you see here is a giant slalom and our algorithm that finds the fastest tract for the skier. The problem instance was requested from our server. All the computations are run in your browser and will be send to our server once it is done. 
		</h4>
		<h3>Number of solved problems: <span id="nsolved"> 0 </span></h3>
		<h3>Currently you found: <span id="currentlyYouFound"> 0 </span></h3>
		<h3>Best time you found: <span id="bestYouFound"> 0 </span></h3>
		<h3>Best time we have so far: <span id="bestWeHave"> 0 </span></h3>
		<div class="span4">
			<div id="stats_container" style="width: 400px; height: 400px;"></div>
			<div id="general_stats_container" style="width: 400px; height: 400px;"></div>
		</div>
		<div class="span8">
			<canvas id="slope" width="3000px" height="1500px"></canvas>
		</div>
		<h2> Relax. While the computations are running, you can play the game. </h2>
		<a id="musicon" class="btn btn-info btn-large" href="#">Start the game!</a>
		<a id="musicoff" class="btn btn-info btn-large" href="#">Turn off the music!! (but the game will disappear :/)</a>
	</div>
	
	
				<center>
        <img src="img/test/yahooweek.gif">
        <img src="img/test/community.gif">
        <img src="img/test/wabwalk.gif">
        <img src="img/test/webtrips.gif">
      </center>
	
	  <div>
	  </br>
	  </br>
	  <p class="pull-right" style="margin-top: -14px"><img src="img/test/hacker.gif">&nbsp; Built by Anna Skiba, Marta Ryłko & dr. inż. Roman Dębski <a href="https://github.com/martar/optimal-gigant/wiki">More details behind this project..</a></p>
		
	  </div>
	<!--<div class="row">
		<div class="span12">
				<img id="image" width="3000px" height="5000px" src="img/lol.jpg" ></img>
		</div>
	</div>-->
</div>






